<div class="main-part mobile-main-part">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-content">
                    <h1>Feed India Together</h1>
                    <h5>While we stay safe at our homes, many people have lost their earning and are fithting Corona and
                        Hunger at the same time. Let’s join our hands together and help them to best of our abilities
                    </h5>

                    <div class="btn-part">
                        <a routerLink="/i-want-to-help" class="btn yellow-btn w-100per">I want to help</a>
                        <a routerLink="/people-need-help" class="btn yellow-border-btn w-100per">I know someone who Need
                            help</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="case-study mo-hide-main">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h5>How can i help people while staying safe at home ?</h5>
            </div>
            <div class="col-md-7">
                <ul class="cases-list">
                    <li style="color: #EB3535">{{corornaVirusPatient.confirmed}}<br><span>Confirmed</span></li>
                    <li style="color: #156ADE">{{corornaVirusPatient.active }}<br><span>Active</span>
                    </li>
                    <li style="color: #109A2A">{{corornaVirusPatient.recovered}}<br><span>Recovered</span></li>
                    <li style="color: #7C7C7C">{{corornaVirusPatient.deaths}}<br><span>Deceased</span></li>
                    <li class="mobile-hide" style="color: #000;border-right: none" class="lst-font">Corona Cases
                        India<br><span style="color: #000000; opacity: .4;">Updated
                            {{corornaVirusPatient.date | date:'EEE,  d MMM ,  y'}}</span><br><span
                            class="view-detail">View Detail</span></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
</div>

<div class="case-study mo-show-main">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <ul class="co-detail">
            <li style="color: #000" class="lst-font">Corona Cases India<br><span
                style="color: #000000; opacity: .4;">Updated  {{corornaVirusPatient.date | date:'EEE,  d MMM ,  y'}}</span> <span
                class="view-detail">View Detail</span></li>
          </ul>
          <ul class="cases-list">
            <li style="color: #EB3535">{{corornaVirusPatient.confirmed}}<br><span>Confirmed</span></li>
            <li style="color: #156ADE">{{corornaVirusPatient.active }}<br><span>Active</span></li>
            <li style="color: #109A2A">{{corornaVirusPatient.recovered}}<br><span>Recovered</span></li>
            <li style="color: #7C7C7C;border-right: none;">{{corornaVirusPatient.deaths}}<br><span>20</span></li>
          </ul>
          <hr>
        </div>
        <div class="col-md-5">
          <h5 style="margin-bottom: 0;" class="mo-set">How can i help people while staying safe at home ?</h5>
        </div>
      </div>
    </div>
  </div>


<div class="image-part">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h4>How to help ?</h4>
                <p>You can list yourself as a volunteer. And choose how you want to help be it feeding people with a
                    home-cooked meal or help them in taking shelter or any other way.</p>

                <p> Once you are listed you will be contacted by authorities or front line workers who are authorised to
                    work outside.</p>

                <p> They will ask for your help as you have listed if there’s any requirement.</p>

                <p> Please note that becoming a volunteer does not mean that you should leave your home. You should stay
                    at home. Any help you can provide should be while you are staying at home.</p>

                <div class="row btn-with-content">
                    <div class="col-md-6">
                        <h5 class="mo-center">Do you want to help ?</h5>
                    </div>
                    <div class="col-md-6">
                        <a routerLink="/people-need-help" class="btn yellow-btn">Yes, List me as volunteer</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <img src="assets/img/Volenteer-min.png">
            </div>
        </div>
    </div>
</div>



<div class="image-part padding-inside" style="background-color: #FAFAFA">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h4>What if you see someone who need help ?</h4>
                <p>You can list yourself as a volunteer. And choose how you want to help be it feeding people with a
                    home-cooked meal or help them in taking shelter or any other way.</p>

                <p> Once you are listed you will be contacted by authorities or front line workers who are authorised to
                    work outside.</p>

                <p> They will ask for your help as you have listed if there’s any requirement.</p>

                <p> Please note that becoming a volunteer does not mean that you should leave your home. You should stay
                    at home. Any help you can provide should be while you are staying at home.</p>

                <div class="row btn-with-content">
                    <div class="col-md-6">
                        <h5 class="mo-center">Do you know someone who need help?</h5>
                    </div>
                    <div class="col-md-6">
                        <a routerLink="/i-want-to-help" class="btn yellow-btn">Yes, Ask for help</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <img src="assets/img/volenteer-1-min.png">
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>